.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: roboto;
    width: 200px;
    /* background-color: black; */
}

.TiWeatherSunny {
    margin-left: 20px;
}
