.Footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

.VscGithubInverted,
.BsInstagram,
.ImTwitter {
    font-size: 2em;
    cursor: pointer;
    margin: 30px;
}
