.livros {
    display: flex;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow-y: scroll;
}

.livro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.capa {
    height: 300px;
    width: 210px;
    cursor: pointer;
}