.loader_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.loader {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
