.login_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: black; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../components/img/portal.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* ------------------------------ blur ------------------------------ */
}

.login_container_body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title h1 {
  font-size: 5em;
  margin-top: 30px;
  margin-bottom: 60px;
}

.login_form {
  display: flex;
  flex-direction: column;
  height: 674px;
  width: 400px;
  /* border: 2px solid white; */
  background: rgba(255, 255, 255, 0.13);
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 30px black;
  backdrop-filter: blur(6px);
}
.login_form_login {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.formGroup input {
  border: none;
  width: 80%;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
::placeholder {
  color: white;
}

.formGroup input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.formGroup_key {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.formGroup_key a {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.formGroup_key p {
  margin-right: 5px;
  font-weight: bold;
}

.icons {
  font-size: 20px;
  cursor: pointer;
}
.formGroup_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  /* border: 1px solid white; */
}

.formGroup_btn button {
  background-color: transparent;
  border: 2px solid goldenrod;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 12px;
  /* box-shadow: 0 5px 30px black; */
  cursor: pointer;
}

.formGroup_btn button:hover {
  /* background-color: #4caf50; */
    background-color: goldenrod;

  font-weight: bold;
}


.formGroup_switch {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.formGroup_inscrever {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* border-top: 1px solid white; */
  padding-top: 10px;
}

.formGroup_inscrever a {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 20px;
  border-bottom: 2px solid goldenrod;
}
