.Navbar_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

a {
    text-decoration: none;
}

.login_btn {
  border: none;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
