.Navbar_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

.Navbar_Item {
    display: flex;
    width: 33%;
    justify-content: space-around;
    align-items: center;

}

a {
    text-decoration: none;
}

